@import url('https://fonts.googleapis.com/css?family=Abel');

div.main-container {
  font-family: {{fontName}};
  font-size: 21px;
  line-height:1.3;
  font-weight:bold;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 253, 253);
  text-shadow: rgb(0, 0, 0) 1px 1px 1px;
}

div.main-container span {
  font-family: {{fontName}};
  font-size: 21px;
  line-height:1.3;
  font-weight:bold;
  color: {{color}};
  text-shadow: rgb(0, 0, 0) 1px 1px 1px;
}